{% extends 'initial/main.html' %}


{% block title %}
    Natillera List
{% endblock %}


{% block content %}

    <hr>
    <a href="{% url 'natillera_create' %}">Create new Natillera</a>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Monthly Fee</th>
            <th>User</th>
        </tr>

        {% for natillera in natilleras %}
            <tr>
                <td>{{natillera.id}}</td>
                <td><a href="{% url 'natillera_detail' natillera.id %}">{{natillera.name}}</a></td>
                <td>{{natillera.monthlyfee}}</td>
                <td>{{natillera.user}}</td>
            </tr>
        {% endfor %}

    </table>
    
    


{% endblock %}