{% load static %}

<style>
    .hello-msg{
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }
</style>

{% for natiller in natillera %}
    <p style="size: 20px;">Natillera: {{natiller.name}}</p>
{% endfor %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{% static 'images/logo2.png' %}">   
    <!-- <a class="navbar-brand" href="{% url 'home' %}">Homeless</a> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      
        <ul class="navbar-nav">
            
            <li class="nav-item">
                <!-- <a class="nav-link" href="{% url 'definition' %}">What the hell</a> -->
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" href="{% url 'weare' %}">Who the hell</a> -->
            </li>
            <li class="nav-itm nav-link">
                {% for natiller in natillera %}
                    <p style="size: 20px;">Natillera: {{natiller.name}}</p>
                {% endfor %}
            </li>
            
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'natillera_list' %}">Back</a>
                </li>
            {% endif %}
            <!-- <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li> -->
            <!-- <li class="nav-item"><a class="nav-link" href="#">Log in</a></li> -->
            
        </ul>
    </div>

    {% if user.is_authenticated %}

        <span class="hello-msg">Hello, {{request.user}}</span>
        <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>

    {% else %}

        <ul class="navbar-nav">
            <a class="nav-link nav-item" href="{% url 'login' %}">Access</a>
        </ul>
        
    {% endif %}
    

</nav>