{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'definition' %}">What is a Natillera</a></li>
            <li><a href="{% url 'weare' %}">Who are we</a></li>
            <li><a href="{% url 'Authentication' %}">Register</a></li>
            <li>Log in</li>
        </ul>
    </nav>
    <h1>This is the home page</h1>
    
    
</body>
</html>