<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who we are</title>
</head>
<body>
    <h1>Who we are?</h1>
    <p>whe are... Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi animi odio error enim, placeat quia nemo recusandae amet! Dolore earum rem quia sit optio esse amet placeat officia magnam iure?</p>
</body>
</html>